.login {
  height: 100vh;
}
.login__container {
  width: 40%;
  padding: 20px;
}

.login__input form label {
  color: black;
  margin-top: 10px;
}

.login__input form input {
  border: 1px solid #c4c4c4;
  background-color: white;
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  padding: 0 10px
}

.login__input form input:focus {
  outline: none;
}